* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #0d1b2a;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card {
    background-color: #e0e1dd;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    padding: 20px; 
    border-radius: 5%; 
}
img {
    border: 1px solid black;
    border-radius: 50%;
    width: 200px;
    margin: 10px;
}
a {
    text-decoration: none;
}
h2 {
    margin: 10px;
}
svg:hover {
    fill: #1c4674;
}